{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ action }} Book</h2>
    
    <form method="POST" class="admin-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <ul class="errors">
                    {% for error in form.title.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.author.label }}
            {{ form.author(class="form-control") }}
            {% if form.author.errors %}
                <ul class="errors">
                    {% for error in form.author.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.isbn.label }}
            {{ form.isbn(class="form-control") }}
            {% if form.isbn.errors %}
                <ul class="errors">
                    {% for error in form.isbn.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control", rows=5) }}
            {% if form.description.errors %}
                <ul class="errors">
                    {% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
            {% if form.price.errors %}
                <ul class="errors">
                    {% for error in form.price.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.category_id.label }}
            {{ form.category_id(class="form-control") }}
            {% if form.category_id.errors %}
                <ul class="errors">
                    {% for error in form.category_id.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.file_format.label }}
            {{ form.file_format(class="form-control") }}
            {% if form.file_format.errors %}
                <ul class="errors">
                    {% for error in form.file_format.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.book_file.label }}
            {{ form.book_file(class="form-control") }}
            {% if form.book_file.errors %}
                <ul class="errors">
                    {% for error in form.book_file.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.cover_image.label }}
            {{ form.cover_image(class="form-control") }}
            {% if form.cover_image.errors %}
                <ul class="errors">
                    {% for error in form.cover_image.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">{{ action }} Book</button>
        <a href="{{ url_for('admin.books') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}